#main {
	margin: 0 auto;
	height: 800px;
	width: 800px;
}

#header {
	height: 200px;
}

input{
	margin: 0;
	height: 30px;
	width: 50%;
	background: #fff;
	border: 1px;
	padding: 10px 10px 10px 10px;
	line-height: 24px;
	border-color: #c7c7c7;
	border-radius: 4px;
	border-style: solid;
	box-sizing: border-box;
}

textarea {
	margin: 0px; 
	width: 400px; 
	height: 150px;
	background: #fff;
	border: 1px;
	padding: 10px 10px 10px 10px;
	line-height: 24px;
	border-color: #c7c7c7;
	border-radius: 4px;
	border-style: solid;
<<<<<<< HEAD
	box-sizing: border-box;
=======
>>>>>>> 7ba9a28966ee0e6a1b6dd792d50f1979394f176b
	resize: none;
}
